/.vs
/Server/bin
/Server/obj
/WYI.BizLogics/bin
/WYI.BizLogics/obj
/WYI.Shared/bin
/WYI.Shared/obj
*.cache
/vscode/node_modules
doc/manual/WYI.aux
doc/manual/WYI.log
doc/manual/WYI.out
doc/manual/WYI.synctex.gz
