/Server/bin
/Server/bin
/Studio.BizLogics/obj
/Studio.Shared/obj
/.vs/WYI/FileContentIndex
/Server/obj
/WYI.BizLogics/obj
/WYI.Shared/obj
/.vs
/WYI.BizLogics/bin
/WYI.BizLogics/obj
/WYI.Shared/bin
/WYI.Shared/obj
*.cache
/WYI.Shared/obj
/vscode/node_modules
/WYI.Shared/obj
