/Server/bin
/Server/bin
/Studio.BizLogics/obj
/Studio.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
/Studio.Shared/obj/Debug/net8.0/ILLink.Substitutions.xml
/Studio.Shared/obj/Debug/net8.0/WYI.Shared.AssemblyInfo.fs
/Studio.Shared/obj/Debug/net8.0/WYI.Shared.AssemblyInfoInputs.cache
/Studio.Shared/obj/Debug/net8.0/WYI.Shared.assets.cache
/Studio.Shared/obj/Debug/net8.0/WYI.Shared.fsproj.AssemblyReference.cache
/.vs/WYI/FileContentIndex
/Server/obj
/WYI.BizLogics/obj
/WYI.BizLogics/obj
/WYI.Shared/obj
/WYI.BizLogics/obj
/.vs
/WYI.BizLogics/bin
/WYI.BizLogics/obj
/WYI.Shared/bin
/WYI.Shared/obj
/WYI.Shared/obj
/WYI.BizLogics/obj
/WYI.BizLogics/obj
/WYI.BizLogics/obj
/WYI.BizLogics/obj
